NEXT_PUBLIC_VSL1_URL=https://ejdwzyue8qsbigw0.public.blob.vercel-storage.com/VSL%20Dra%201.mp4
NEXT_PUBLIC_VSL2_URL=/videos/vsl2.mp4
NEXT_PUBLIC_CHECKOUT_URL=https://pay.kiwify.com.mx/REEMPLAZAR
NEXT_PUBLIC_OFFER_PRICE_MXN=199
NEXT_PUBLIC_META_PIXEL_ID=
META_CAPI_ACCESS_TOKEN=
META_TEST_EVENT_CODE=
META_GRAPH_VERSION=v23.0
